WebApplication/Flow Node-red/flows_Mobile.json
[{"id":"c4b5522c.b57c","type":"tab","label":"Smartphone","disabled":false,"info":""},{"id":"88992d9c.70cff","type":"ui_chart","z":"c4b5522c.b57c","name":"","group":"f8860a0.ccd5df8","order":2,"width":"4","height":"3","label":"Temperature [°C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1190,"y":440,"wires":[[]]},{"id":"53ce9fa1.98515","type":"ui_chart","z":"c4b5522c.b57c","name":"","group":"f8860a0.ccd5df8","order":2,"width":"4","height":"3","label":"Acceleration [m/s^2]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loading...","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1200,"y":540,"wires":[[]]},{"id":"d56bd61c.a2a758","type":"ui_gauge","z":"c4b5522c.b57c","name":"","group":"f8860a0.ccd5df8","order":0,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"35","max":"39","colors":["#ca3338","#00b500","#ca3838"],"seg1":"","seg2":"","x":1170,"y":480,"wires":[]},{"id":"d2a9c0a8.46eb2","type":"ui_gauge","z":"c4b5522c.b57c","name":"","group":"f8860a0.ccd5df8","order":0,"width":"3","height":"3","gtype":"gage","title":"Acceleration","label":"units","format":"{{value}}","min":0,"max":"1.2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1170,"y":580,"wires":[]},{"id":"701a76f0.40ac98","type":"ui_chart","z":"c4b5522c.b57c","name":"","group":"f8860a0.ccd5df8","order":2,"width":"4","height":"3","label":"Saturation [%]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1180,"y":640,"wires":[[]]},{"id":"f87ec0b5.a1d0a","type":"ui_worldmap","z":"c4b5522c.b57c","group":"a77cd0e9.c1289","order":1,"width":"7","height":"5","name":"","lat":"","lon":"","zoom":"15","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","allowFileDrop":"true","path":"/worldmap","x":1160,"y":900,"wires":[]},{"id":"7d42fbea.ced074","type":"ui_text","z":"c4b5522c.b57c","group":"a77cd0e9.c1289","order":2,"width":"7","height":"1","name":"Stopwatch","label":"Time elapsed:","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":840,"wires":[]},{"id":"6673f07.b02671","type":"ui_text","z":"c4b5522c.b57c","group":"a77cd0e9.c1289","order":2,"width":"7","height":"1","name":"Time for arrival","label":"Estimated time for the arrival:","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":980,"wires":[]},{"id":"757ace1d.48f3f","type":"ui_gauge","z":"c4b5522c.b57c","name":"","group":"f8860a0.ccd5df8","order":0,"width":"3","height":"3","gtype":"donut","title":"Saturation","label":"%","format":"{{value}}","min":"94","max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"96","seg2":"97","x":1170,"y":680,"wires":[]},{"id":"3ddb029e.4fb91e","type":"ui_chart","z":"c4b5522c.b57c","name":"","group":"f8860a0.ccd5df8","order":2,"width":"4","height":"3","label":"Health Status","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1180,"y":740,"wires":[[]]},{"id":"63840256.e8510c","type":"ui_gauge","z":"c4b5522c.b57c","name":"","group":"f8860a0.ccd5df8","order":0,"width":"3","height":"3","gtype":"gage","title":"Health Status","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":780,"wires":[]},{"id":"4bb794a3.d9716c","type":"inject","z":"c4b5522c.b57c","name":"Time Stamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Temp","payload":"","payloadType":"date","x":130,"y":600,"wires":[["3d39767e.a40d1a","fe3de5f7.2ff8d8","ac3b7d77.fcc2a","94043df7.6dc2c","4a0e9007.0d544"]]},{"id":"7df96615.bc6828","type":"python3-function","z":"c4b5522c.b57c","name":"","func":"lat = msg[\"payload\"][\"v_lat\"]\nlon = msg[\"payload\"][\"v_lon\"]\ntime = msg[\"payload\"][\"v_time\"]\n\n\nmsg[\"payload\"] = {\n    \"name\": \"BOX 001\",\n    \"lat\": lat,\n    \"lon\": lon,\n    \"icon\": \"fa-medkit\", #https://fontawesome.com/v4.7.0/icons/\n    \"iconColor\": \"blue\",\n    \"popped\": True,\n    \"Content\":\"liver\",\n    \"Time for the arrival\": time,\n\n}\nreturn msg","outputs":1,"x":730,"y":900,"wires":[["75f90287.f9dd0c","f87ec0b5.a1d0a"]]},{"id":"75f90287.f9dd0c","type":"python3-function","z":"c4b5522c.b57c","name":"","func":"msg[\"payload\"] = msg[\"payload\"][\"Time for the arrival\"]\nreturn msg","outputs":1,"x":990,"y":980,"wires":[["6673f07.b02671"]]},{"id":"65e238dc.5ece68","type":"python3-function","z":"c4b5522c.b57c","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = round(float(diz[\"feeds\"][0][\"field1\"]),1)\n\nreturn msg","outputs":1,"x":730,"y":460,"wires":[["88992d9c.70cff","d56bd61c.a2a758"]]},{"id":"1dc0c0cd.39e32f","type":"function","z":"c4b5522c.b57c","name":"","func":"if (msg.count === 1) {\n    var time = Math.floor(Date.now() / 1000);\n    flow.set(\"data\",time);\n    msg.payload = 0\n    \n}\nelse { msg.payload = Math.floor(Date.now() / 1000) - flow.get([\"data\"])\n    \n}\nmsg.payload = Math.round(msg.payload / 60);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":840,"wires":[["7d42fbea.ced074"]]},{"id":"3d39767e.a40d1a","type":"function","z":"c4b5522c.b57c","name":"","func":"msg.payload = flow.get(\"channelID_temperature\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":460,"wires":[["65e238dc.5ece68"]]},{"id":"38938a31.9bc656","type":"python3-function","z":"c4b5522c.b57c","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = round(float(diz[\"feeds\"][0][\"field1\"]),2)\n\nreturn msg","outputs":1,"x":730,"y":560,"wires":[["53ce9fa1.98515","d2a9c0a8.46eb2"]]},{"id":"fe3de5f7.2ff8d8","type":"function","z":"c4b5522c.b57c","name":"","func":"msg.payload = flow.get(\"channelID_acceleration\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":560,"wires":[["38938a31.9bc656"]]},{"id":"e9d2ec5f.0feef","type":"python3-function","z":"c4b5522c.b57c","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = round(float(diz[\"feeds\"][0][\"field1\"]),0)\n\nreturn msg","outputs":1,"x":730,"y":660,"wires":[["701a76f0.40ac98","757ace1d.48f3f"]]},{"id":"ac3b7d77.fcc2a","type":"function","z":"c4b5522c.b57c","name":"","func":"msg.payload = flow.get(\"channelID_oxygen\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":660,"wires":[["e9d2ec5f.0feef"]]},{"id":"48137e1c.ad885","type":"python3-function","z":"c4b5522c.b57c","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nHS = round(float(diz[\"feeds\"][0][\"field1\"]),0)\nHS = 10-HS/10\nmsg[\"payload\"] = HS\n\nreturn msg","outputs":1,"x":730,"y":760,"wires":[["1e09141d.06438c","3ddb029e.4fb91e","63840256.e8510c"]]},{"id":"94043df7.6dc2c","type":"function","z":"c4b5522c.b57c","name":"","func":"msg.payload = flow.get(\"channelID_healthcontrol\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":760,"wires":[["48137e1c.ad885"]]},{"id":"dd21383b.c8be28","type":"python3-function","z":"c4b5522c.b57c","name":"","func":"import requests\nimport ast\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = ast.literal_eval(diz[\"feeds\"][0][\"field1\"])\n\nreturn msg","outputs":1,"x":530,"y":900,"wires":[["7df96615.bc6828"]]},{"id":"4a0e9007.0d544","type":"function","z":"c4b5522c.b57c","name":"","func":"msg.payload = flow.get(\"channelID_gps\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":900,"wires":[["dd21383b.c8be28"]]},{"id":"3715c141.3d302e","type":"http request","z":"c4b5522c.b57c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1341228/fields/1.json?api_key=74BPJAXGQDBJJPOS&results=1","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":60,"wires":[["98c79048.e72de"]]},{"id":"8bedf5ee.614658","type":"inject","z":"c4b5522c.b57c","name":"Richiesta catalog","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["3715c141.3d302e"]]},{"id":"98c79048.e72de","type":"json","z":"c4b5522c.b57c","name":"","property":"payload","action":"","pretty":false,"x":470,"y":60,"wires":[["8608fb2a.bf2578"]]},{"id":"8608fb2a.bf2578","type":"python3-function","z":"c4b5522c.b57c","name":"","func":"import requests\nmsg[\"payload\"] = msg[\"payload\"]['feeds'][0]['field1']\nreturn msg","outputs":1,"x":630,"y":60,"wires":[["fcccdfc4.0aaae","53dadfe4.95cbf","ec7429.de559bd8","9cd7ff50.0b802","d2e404b2.24c718"]]},{"id":"fcccdfc4.0aaae","type":"python3-function","z":"c4b5522c.b57c","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"001100\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":60,"wires":[["5ee28248.ee556c"]]},{"id":"5ee28248.ee556c","type":"function","z":"c4b5522c.b57c","name":"","func":"var channelID_temperature = msg.payload;\nflow.set(\"channelID_temperature\",channelID_temperature);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":60,"wires":[[]]},{"id":"53dadfe4.95cbf","type":"python3-function","z":"c4b5522c.b57c","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"001200\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":120,"wires":[["47590095.7b5e6"]]},{"id":"47590095.7b5e6","type":"function","z":"c4b5522c.b57c","name":"","func":"var channelID_acceleration = msg.payload;\nflow.set(\"channelID_acceleration\",channelID_acceleration);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":120,"wires":[[]]},{"id":"ec7429.de559bd8","type":"python3-function","z":"c4b5522c.b57c","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"001400\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":180,"wires":[["3befbaf9.79eb76"]]},{"id":"3befbaf9.79eb76","type":"function","z":"c4b5522c.b57c","name":"","func":"var channelID_oxygen = msg.payload;\nflow.set(\"channelID_oxygen\",channelID_oxygen);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":180,"wires":[[]]},{"id":"9cd7ff50.0b802","type":"python3-function","z":"c4b5522c.b57c","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"001600\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":240,"wires":[["16c86b64.ca3265"]]},{"id":"16c86b64.ca3265","type":"function","z":"c4b5522c.b57c","name":"","func":"var channelID_gps = msg.payload;\nflow.set(\"channelID_gps\",channelID_gps);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":240,"wires":[[]]},{"id":"d2e404b2.24c718","type":"python3-function","z":"c4b5522c.b57c","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaleServizio\"][\"canaleServizio_channel\"][\"001Health_Status\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":300,"wires":[["1e6119b5.7bc766"]]},{"id":"1e6119b5.7bc766","type":"function","z":"c4b5522c.b57c","name":"","func":"var channelID_healthcontrol = msg.payload;\nflow.set(\"channelID_healthcontrol\",channelID_healthcontrol);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":300,"wires":[[]]},{"id":"be6ab438.feee88","type":"ui_button","z":"c4b5522c.b57c","name":"","group":"cebdcbde.080a08","order":1,"width":"7","height":"1","passthru":false,"label":"Telegram BOT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TelegramBot","payloadType":"str","topic":"","topicType":"str","x":820,"y":380,"wires":[["bc8ddf2d.8f9f2"]]},{"id":"944168a2.0ab918","type":"ui_template","z":"c4b5522c.b57c","group":"cebdcbde.080a08","name":"window redirect","order":3,"width":0,"height":0,"format":"<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"TelegramBot\") {\n          window.location.href = \"https://t.me/smartorgandelivery_bot\";\n        } \n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1180,"y":380,"wires":[[]]},{"id":"bc8ddf2d.8f9f2","type":"trigger","z":"c4b5522c.b57c","name":"reset msg","op1":"","op2":"empty","op1type":"pay","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1000,"y":380,"wires":[["944168a2.0ab918"]]},{"id":"1a062977.85b2e7","type":"inject","z":"c4b5522c.b57c","name":"Public Url to WebApp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":160,"wires":[["cce37646.9213d8"]]},{"id":"cce37646.9213d8","type":"python3-function","z":"c4b5522c.b57c","name":"","func":"import requests\ntry:\n    url_WebApp = \"aa\" #noto a priori\n    \n    r = requests.get('http://localhost:4040/api/tunnels')\n    jsonBody=json.loads(r.text)\n    msg[\"payload\"]=jsonBody[\"tunnels\"][0][\"public_url\"]\n    public_url = jsonBody[\"tunnels\"][0][\"public_url\"]\n    try:\n        uri = url_WebApp+\"/NodeRed2/?link=\"+public_url\n        r = requests.get(uri)\n    except:\n        pass\n\nexcept:\n    pass\n\n","outputs":1,"x":400,"y":160,"wires":[[]]},{"id":"1e09141d.06438c","type":"counter","z":"c4b5522c.b57c","name":"counter","init":"0","step":1,"lower":"","upper":"","mode":"increment","outputs":"1","x":880,"y":840,"wires":[["1dc0c0cd.39e32f"]]},{"id":"f8860a0.ccd5df8","type":"ui_group","name":"Parameters Trend","tab":"d5f6415d.6ca","order":1,"disp":true,"width":"7","collapse":false},{"id":"a77cd0e9.c1289","type":"ui_group","name":"Position & Timing","tab":"d5f6415d.6ca","order":2,"disp":true,"width":"7","collapse":false},{"id":"cebdcbde.080a08","type":"ui_group","name":"Telegram","tab":"d5f6415d.6ca","order":3,"disp":true,"width":"7","collapse":false},{"id":"d5f6415d.6ca","type":"ui_tab","name":"BOX3","icon":"dashboard","disabled":false,"hidden":false}]