WebApplication/Flow Node-red/flows_Desktop.json
[{"id":"69de7189.7faeb","type":"tab","label":"Desktop","disabled":false,"info":""},{"id":"cc5b5b05.4f39a8","type":"ui_chart","z":"69de7189.7faeb","name":"","group":"e37f34ea.4e5258","order":2,"width":"12","height":"4","label":"Temperature [°C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1170,"y":460,"wires":[[]]},{"id":"5693288a.608c58","type":"inject","z":"69de7189.7faeb","name":"Time Stamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Temp","payload":"","payloadType":"date","x":110,"y":620,"wires":[["cdbb2a0f.56cbc8","45044573.8a045c","e97aade0.e125","f49bc57a.038d88","3cd3f9de.406ef6"]]},{"id":"6f85e1eb.2c384","type":"ui_chart","z":"69de7189.7faeb","name":"","group":"e37f34ea.4e5258","order":2,"width":"12","height":"4","label":"Acceleration [m/s^2]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loading...","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1180,"y":560,"wires":[[]]},{"id":"c12d85f0.b57278","type":"ui_gauge","z":"69de7189.7faeb","name":"","group":"e37f34ea.4e5258","order":0,"width":"6","height":"4","gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"35","max":"39","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1150,"y":500,"wires":[]},{"id":"1326137c.0919ed","type":"ui_gauge","z":"69de7189.7faeb","name":"","group":"e37f34ea.4e5258","order":0,"width":"6","height":"4","gtype":"gage","title":"Acceleration","label":"units","format":"{{value}}","min":0,"max":"1.2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":600,"wires":[]},{"id":"68396f74.fce88","type":"ui_gauge","z":"69de7189.7faeb","name":"","group":"e37f34ea.4e5258","order":0,"width":"6","height":"4","gtype":"donut","title":"Saturation","label":"%","format":"{{value}}","min":"60","max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"96","seg2":"97","x":1150,"y":700,"wires":[]},{"id":"66013a3a.d6f604","type":"ui_chart","z":"69de7189.7faeb","name":"","group":"e37f34ea.4e5258","order":2,"width":"12","height":"4","label":"Saturation [%]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1160,"y":660,"wires":[[]]},{"id":"591d0cae.f1a0b4","type":"ui_gauge","z":"69de7189.7faeb","name":"","group":"e37f34ea.4e5258","order":0,"width":"6","height":"4","gtype":"gage","title":"Health Status","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1160,"y":800,"wires":[]},{"id":"55f32ed6.881c8","type":"ui_chart","z":"69de7189.7faeb","name":"","group":"e37f34ea.4e5258","order":2,"width":"12","height":"4","label":"Health Status","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1160,"y":760,"wires":[[]]},{"id":"4c209e82.51549","type":"ui_worldmap","z":"69de7189.7faeb","group":"c487514c.e03bf","order":1,"width":"12","height":"10","name":"","lat":"","lon":"","zoom":"15","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","allowFileDrop":"true","path":"/worldmap","x":1140,"y":920,"wires":[]},{"id":"d4eff99a.a39a68","type":"python3-function","z":"69de7189.7faeb","name":"","func":"lat = msg[\"payload\"][\"v_lat\"]\nlon = msg[\"payload\"][\"v_lon\"]\ntime = msg[\"payload\"][\"v_time\"]\n\n\nmsg[\"payload\"] = {\n    \"name\": \"BOX 001\",\n    \"lat\": lat,\n    \"lon\": lon,\n    \"icon\": \"fa-medkit\", #https://fontawesome.com/v4.7.0/icons/\n    \"iconColor\": \"blue\",\n    \"popped\": True,\n    \"Content\":\"liver\",\n    \"Time for the arrival\": time,\n\n}\nreturn msg","outputs":1,"x":710,"y":920,"wires":[["4c209e82.51549","4e444781.603cb8"]]},{"id":"5afcb985.0c28d8","type":"ui_text","z":"69de7189.7faeb","group":"c487514c.e03bf","order":2,"width":"7","height":"1","name":"Stopwatch","label":"Time elapsed [min]:","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":860,"wires":[]},{"id":"4e444781.603cb8","type":"python3-function","z":"69de7189.7faeb","name":"","func":"msg[\"payload\"] = msg[\"payload\"][\"Time for the arrival\"]\nreturn msg","outputs":1,"x":970,"y":1000,"wires":[["b21fc40.26eee4"]]},{"id":"b21fc40.26eee4","type":"ui_text","z":"69de7189.7faeb","group":"c487514c.e03bf","order":2,"width":"7","height":"1","name":"Time for arrival","label":"Estimated time for the arrival [min]:","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":1000,"wires":[]},{"id":"5d16b007.36294","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = round(float(diz[\"feeds\"][0][\"field1\"]),1)\n\nreturn msg","outputs":1,"x":710,"y":480,"wires":[["cc5b5b05.4f39a8","c12d85f0.b57278"]]},{"id":"6aeb505.5e66ab","type":"function","z":"69de7189.7faeb","name":"","func":"if (msg.count === 1) {\n    var time = Math.floor(Date.now() / 1000);\n    flow.set(\"data\",time);\n    msg.payload = 0\n    \n}\nelse { msg.payload = Math.floor(Date.now() / 1000) - flow.get([\"data\"])\n    \n}\nmsg.payload = Math.round(msg.payload / 60);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":860,"wires":[["5afcb985.0c28d8"]]},{"id":"27027df1.25d2d2","type":"http request","z":"69de7189.7faeb","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1341228/fields/1.json?api_key=74BPJAXGQDBJJPOS&results=1","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":80,"wires":[["cee4e6f9.7a19d8"]]},{"id":"9542bd6a.4787c","type":"inject","z":"69de7189.7faeb","name":"Richiesta catalog","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["27027df1.25d2d2"]]},{"id":"cee4e6f9.7a19d8","type":"json","z":"69de7189.7faeb","name":"","property":"payload","action":"","pretty":false,"x":470,"y":80,"wires":[["1d31ec8e.120403"]]},{"id":"1d31ec8e.120403","type":"python3-function","z":"69de7189.7faeb","name":"","func":"\nmsg[\"payload\"] = msg[\"payload\"]['feeds'][0]['field1']\nreturn msg","outputs":1,"x":630,"y":80,"wires":[["28fbddf7.3480f2","edf87985.3532c8","b04dd8b5.b90628","81de5ad7.bf16c8","9eb5b4f8.5fee08"]]},{"id":"28fbddf7.3480f2","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"001100\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":80,"wires":[["e2d2d1ae.4f21a"]]},{"id":"e2d2d1ae.4f21a","type":"function","z":"69de7189.7faeb","name":"","func":"var channelID_temperature = msg.payload;\nflow.set(\"channelID_temperature\",channelID_temperature);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":80,"wires":[[]]},{"id":"cdbb2a0f.56cbc8","type":"function","z":"69de7189.7faeb","name":"","func":"msg.payload = flow.get(\"channelID_temperature\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":480,"wires":[["5d16b007.36294"]]},{"id":"edf87985.3532c8","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"001200\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":140,"wires":[["7017e4f.7d7a31c"]]},{"id":"7017e4f.7d7a31c","type":"function","z":"69de7189.7faeb","name":"","func":"var channelID_acceleration = msg.payload;\nflow.set(\"channelID_acceleration\",channelID_acceleration);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":140,"wires":[[]]},{"id":"b04dd8b5.b90628","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"001400\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":200,"wires":[["5a338ddb.a4adc4"]]},{"id":"5a338ddb.a4adc4","type":"function","z":"69de7189.7faeb","name":"","func":"var channelID_oxygen = msg.payload;\nflow.set(\"channelID_oxygen\",channelID_oxygen);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":200,"wires":[[]]},{"id":"81de5ad7.bf16c8","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"001600\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":260,"wires":[["6494cd7f.8e5a74"]]},{"id":"6494cd7f.8e5a74","type":"function","z":"69de7189.7faeb","name":"","func":"var channelID_gps = msg.payload;\nflow.set(\"channelID_gps\",channelID_gps);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":260,"wires":[[]]},{"id":"9eb5b4f8.5fee08","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaleServizio\"][\"canaleServizio_channel\"][\"001Health_Status\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":320,"wires":[["dde3bf0.f0a064"]]},{"id":"dde3bf0.f0a064","type":"function","z":"69de7189.7faeb","name":"","func":"var channelID_healthcontrol = msg.payload;\nflow.set(\"channelID_healthcontrol\",channelID_healthcontrol);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":320,"wires":[[]]},{"id":"f1bd84c5.bac748","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = round(float(diz[\"feeds\"][0][\"field1\"]),2)\n\nreturn msg","outputs":1,"x":710,"y":580,"wires":[["6f85e1eb.2c384","1326137c.0919ed"]]},{"id":"45044573.8a045c","type":"function","z":"69de7189.7faeb","name":"","func":"msg.payload = flow.get(\"channelID_acceleration\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":580,"wires":[["f1bd84c5.bac748"]]},{"id":"5c1babd1.e844a4","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = round(float(diz[\"feeds\"][0][\"field1\"]),0)\n\nreturn msg","outputs":1,"x":710,"y":680,"wires":[["66013a3a.d6f604","68396f74.fce88"]]},{"id":"e97aade0.e125","type":"function","z":"69de7189.7faeb","name":"","func":"msg.payload = flow.get(\"channelID_oxygen\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":680,"wires":[["5c1babd1.e844a4"]]},{"id":"a11d5829.56ebc8","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nHS = round(float(diz[\"feeds\"][0][\"field1\"]),0)\nHS = 10-HS/10\nmsg[\"payload\"] = HS\n\nreturn msg","outputs":1,"x":710,"y":780,"wires":[["55f32ed6.881c8","591d0cae.f1a0b4","d98acdce.5736b"]]},{"id":"f49bc57a.038d88","type":"function","z":"69de7189.7faeb","name":"","func":"msg.payload = flow.get(\"channelID_healthcontrol\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":780,"wires":[["a11d5829.56ebc8"]]},{"id":"26f6f4e7.b98f9c","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\nimport ast\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = ast.literal_eval(diz[\"feeds\"][0][\"field1\"])\n\nreturn msg","outputs":1,"x":510,"y":920,"wires":[["d4eff99a.a39a68"]]},{"id":"3cd3f9de.406ef6","type":"function","z":"69de7189.7faeb","name":"","func":"msg.payload = flow.get(\"channelID_gps\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":920,"wires":[["26f6f4e7.b98f9c"]]},{"id":"104f8bf8.028f34","type":"inject","z":"69de7189.7faeb","name":"Public Url to WebApp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["d406aa5b.fb8638"]]},{"id":"73473227.d64afc","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nurl_WebApp = \"https://bd8578e3c28e.ngrok.io\"  #noto a priori\n\nr = requests.get(\"http://127.0.0.1:4041/api/tunnels\")\njsonBody=json.loads(r.text)\nmsg[\"payload\"]=jsonBody[\"tunnels\"][0][\"public_url\"]\npublic_url = jsonBody[\"tunnels\"][0][\"public_url\"]\npublic_url = \"abs\"\nuri = url_WebApp+\"/NodeRed2/?link=\"+public_url\nr = requests.get(uri)\n\n\n\n","outputs":1,"x":600,"y":160,"wires":[[]]},{"id":"d98acdce.5736b","type":"counter","z":"69de7189.7faeb","name":"counter","init":"0","step":1,"lower":"","upper":"","mode":"increment","outputs":"1","x":860,"y":860,"wires":[["6aeb505.5e66ab"]]},{"id":"870f1140.2a08f","type":"debug","z":"69de7189.7faeb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":280,"wires":[]},{"id":"d406aa5b.fb8638","type":"http request","z":"69de7189.7faeb","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:4041/api/tunnels","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":180,"wires":[["870f1140.2a08f"]]},{"id":"e37f34ea.4e5258","type":"ui_group","name":"Parameters","tab":"c96d6dfc.80d09","order":2,"disp":true,"width":"18","collapse":false},{"id":"c487514c.e03bf","type":"ui_group","name":"Position & Timing","tab":"c96d6dfc.80d09","order":2,"disp":true,"width":"12","collapse":false},{"id":"c96d6dfc.80d09","type":"ui_tab","name":"BOX001","icon":"dashboard","disabled":false,"hidden":false}]