WebApplication/Flow Node-red/flows_Desktop_2Box.json
[{"id":"69de7189.7faeb","type":"tab","label":"Desktop","disabled":false,"info":""},{"id":"cc5b5b05.4f39a8","type":"ui_chart","z":"69de7189.7faeb","name":"","group":"e37f34ea.4e5258","order":2,"width":"12","height":"4","label":"Temperature [°C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1190,"y":820,"wires":[[]]},{"id":"5693288a.608c58","type":"inject","z":"69de7189.7faeb","name":"Time Stamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Temp","payload":"","payloadType":"date","x":130,"y":980,"wires":[["cdbb2a0f.56cbc8","45044573.8a045c","e97aade0.e125","f49bc57a.038d88","3cd3f9de.406ef6"]]},{"id":"6f85e1eb.2c384","type":"ui_chart","z":"69de7189.7faeb","name":"","group":"e37f34ea.4e5258","order":2,"width":"12","height":"4","label":"Acceleration [m/s^2]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loading...","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1200,"y":920,"wires":[[]]},{"id":"c12d85f0.b57278","type":"ui_gauge","z":"69de7189.7faeb","name":"","group":"e37f34ea.4e5258","order":0,"width":"6","height":"4","gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"35","max":"39","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1170,"y":860,"wires":[]},{"id":"1326137c.0919ed","type":"ui_gauge","z":"69de7189.7faeb","name":"","group":"e37f34ea.4e5258","order":0,"width":"6","height":"4","gtype":"gage","title":"Acceleration","label":"units","format":"{{value}}","min":0,"max":"1.2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1170,"y":960,"wires":[]},{"id":"68396f74.fce88","type":"ui_gauge","z":"69de7189.7faeb","name":"","group":"e37f34ea.4e5258","order":0,"width":"6","height":"4","gtype":"donut","title":"Saturation","label":"%","format":"{{value}}","min":"60","max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"96","seg2":"97","x":1170,"y":1060,"wires":[]},{"id":"66013a3a.d6f604","type":"ui_chart","z":"69de7189.7faeb","name":"","group":"e37f34ea.4e5258","order":2,"width":"12","height":"4","label":"Saturation [%]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1180,"y":1020,"wires":[[]]},{"id":"591d0cae.f1a0b4","type":"ui_gauge","z":"69de7189.7faeb","name":"","group":"e37f34ea.4e5258","order":0,"width":"6","height":"4","gtype":"gage","title":"Health Status","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":1160,"wires":[]},{"id":"55f32ed6.881c8","type":"ui_chart","z":"69de7189.7faeb","name":"","group":"e37f34ea.4e5258","order":2,"width":"12","height":"4","label":"Health Status","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1180,"y":1120,"wires":[[]]},{"id":"4c209e82.51549","type":"ui_worldmap","z":"69de7189.7faeb","group":"27caaf53.e0d13","order":1,"width":"12","height":"10","name":"","lat":"","lon":"","zoom":"15","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","allowFileDrop":"true","path":"/worldmap","x":1160,"y":1280,"wires":[]},{"id":"d4eff99a.a39a68","type":"python3-function","z":"69de7189.7faeb","name":"","func":"lat = msg[\"payload\"][\"v_lat\"]\nlon = msg[\"payload\"][\"v_lon\"]\ntime = msg[\"payload\"][\"v_time\"]\n\n\nmsg[\"payload\"] = {\n    \"name\": \"BOX 001\",\n    \"lat\": lat,\n    \"lon\": lon,\n    \"icon\": \"fa-medkit\", #https://fontawesome.com/v4.7.0/icons/\n    \"iconColor\": \"blue\",\n    \"popped\": True,\n    \"Content\":\"liver\",\n    \"Time for the arrival\": time,\n\n}\nreturn msg","outputs":1,"x":730,"y":1280,"wires":[["4c209e82.51549","4e444781.603cb8"]]},{"id":"5afcb985.0c28d8","type":"ui_text","z":"69de7189.7faeb","group":"27caaf53.e0d13","order":2,"width":"7","height":"1","name":"Stopwatch","label":"Time elapsed [min]:","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":1220,"wires":[]},{"id":"4e444781.603cb8","type":"python3-function","z":"69de7189.7faeb","name":"","func":"msg[\"payload\"] = msg[\"payload\"][\"Time for the arrival\"]\nreturn msg","outputs":1,"x":990,"y":1360,"wires":[["b21fc40.26eee4"]]},{"id":"b21fc40.26eee4","type":"ui_text","z":"69de7189.7faeb","group":"27caaf53.e0d13","order":2,"width":"7","height":"1","name":"Time for arrival","label":"Estimated time for the arrival [min]:","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":1360,"wires":[]},{"id":"5d16b007.36294","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = round(float(diz[\"feeds\"][0][\"field1\"]),1)\n\nreturn msg","outputs":1,"x":730,"y":840,"wires":[["cc5b5b05.4f39a8","c12d85f0.b57278"]]},{"id":"6aeb505.5e66ab","type":"function","z":"69de7189.7faeb","name":"","func":"if (msg.count === 1) {\n    var time = Math.floor(Date.now() / 1000);\n    flow.set(\"data\",time);\n    msg.payload = 0\n    \n}\nelse { msg.payload = Math.floor(Date.now() / 1000) - flow.get([\"data\"])\n    \n}\nmsg.payload = Math.round(msg.payload / 60);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1220,"wires":[["5afcb985.0c28d8"]]},{"id":"27027df1.25d2d2","type":"http request","z":"69de7189.7faeb","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1341228/fields/1.json?api_key=74BPJAXGQDBJJPOS&results=1","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":80,"wires":[["cee4e6f9.7a19d8"]]},{"id":"9542bd6a.4787c","type":"inject","z":"69de7189.7faeb","name":"Richiesta catalog","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["27027df1.25d2d2"]]},{"id":"cee4e6f9.7a19d8","type":"json","z":"69de7189.7faeb","name":"","property":"payload","action":"","pretty":false,"x":470,"y":80,"wires":[["1d31ec8e.120403"]]},{"id":"1d31ec8e.120403","type":"python3-function","z":"69de7189.7faeb","name":"","func":"\nmsg[\"payload\"] = msg[\"payload\"]['feeds'][0]['field1']\nreturn msg","outputs":1,"x":630,"y":80,"wires":[["28fbddf7.3480f2","edf87985.3532c8","b04dd8b5.b90628","81de5ad7.bf16c8","9eb5b4f8.5fee08","4499bf7f.5d104","bc3c5eb9.f20cc","33c68016.4d4be","1ab785a8.a66fea","4a642b29.32b784"]]},{"id":"28fbddf7.3480f2","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"001100\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":80,"wires":[["e2d2d1ae.4f21a"]]},{"id":"e2d2d1ae.4f21a","type":"function","z":"69de7189.7faeb","name":"","func":"var channelID_temperature = msg.payload;\nflow.set(\"channelID_temperature\",channelID_temperature);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":80,"wires":[[]]},{"id":"cdbb2a0f.56cbc8","type":"function","z":"69de7189.7faeb","name":"","func":"msg.payload = flow.get(\"channelID_temperature\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":840,"wires":[["5d16b007.36294"]]},{"id":"edf87985.3532c8","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"001200\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":140,"wires":[["7017e4f.7d7a31c"]]},{"id":"7017e4f.7d7a31c","type":"function","z":"69de7189.7faeb","name":"","func":"var channelID_acceleration = msg.payload;\nflow.set(\"channelID_acceleration\",channelID_acceleration);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":140,"wires":[[]]},{"id":"b04dd8b5.b90628","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"001400\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":200,"wires":[["5a338ddb.a4adc4"]]},{"id":"5a338ddb.a4adc4","type":"function","z":"69de7189.7faeb","name":"","func":"var channelID_oxygen = msg.payload;\nflow.set(\"channelID_oxygen\",channelID_oxygen);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":200,"wires":[[]]},{"id":"81de5ad7.bf16c8","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"001600\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":260,"wires":[["6494cd7f.8e5a74"]]},{"id":"6494cd7f.8e5a74","type":"function","z":"69de7189.7faeb","name":"","func":"var channelID_gps = msg.payload;\nflow.set(\"channelID_gps\",channelID_gps);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":260,"wires":[[]]},{"id":"9eb5b4f8.5fee08","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaleServizio\"][\"canaleServizio_channel\"][\"001Health_Status\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":320,"wires":[["dde3bf0.f0a064"]]},{"id":"dde3bf0.f0a064","type":"function","z":"69de7189.7faeb","name":"","func":"var channelID_healthcontrol = msg.payload;\nflow.set(\"channelID_healthcontrol\",channelID_healthcontrol);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":320,"wires":[[]]},{"id":"f1bd84c5.bac748","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = round(float(diz[\"feeds\"][0][\"field1\"]),2)\n\nreturn msg","outputs":1,"x":730,"y":940,"wires":[["6f85e1eb.2c384","1326137c.0919ed"]]},{"id":"45044573.8a045c","type":"function","z":"69de7189.7faeb","name":"","func":"msg.payload = flow.get(\"channelID_acceleration\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":940,"wires":[["f1bd84c5.bac748"]]},{"id":"5c1babd1.e844a4","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = round(float(diz[\"feeds\"][0][\"field1\"]),0)\n\nreturn msg","outputs":1,"x":730,"y":1040,"wires":[["66013a3a.d6f604","68396f74.fce88"]]},{"id":"e97aade0.e125","type":"function","z":"69de7189.7faeb","name":"","func":"msg.payload = flow.get(\"channelID_oxygen\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1040,"wires":[["5c1babd1.e844a4"]]},{"id":"a11d5829.56ebc8","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nHS = round(float(diz[\"feeds\"][0][\"field1\"]),0)\nHS = 10-HS/10\nmsg[\"payload\"] = HS\n\nreturn msg","outputs":1,"x":730,"y":1140,"wires":[["55f32ed6.881c8","591d0cae.f1a0b4","d98acdce.5736b"]]},{"id":"f49bc57a.038d88","type":"function","z":"69de7189.7faeb","name":"","func":"msg.payload = flow.get(\"channelID_healthcontrol\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1140,"wires":[["a11d5829.56ebc8"]]},{"id":"26f6f4e7.b98f9c","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\nimport ast\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = ast.literal_eval(diz[\"feeds\"][0][\"field1\"])\n\nreturn msg","outputs":1,"x":530,"y":1280,"wires":[["d4eff99a.a39a68"]]},{"id":"3cd3f9de.406ef6","type":"function","z":"69de7189.7faeb","name":"","func":"msg.payload = flow.get(\"channelID_gps\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1280,"wires":[["26f6f4e7.b98f9c"]]},{"id":"104f8bf8.028f34","type":"inject","z":"69de7189.7faeb","name":"Public Url to WebApp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["d406aa5b.fb8638"]]},{"id":"73473227.d64afc","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nurl_WebApp = \"https://SmartOrganDelivery.ngrok.io\"  #noto a priori\n\nr = requests.get(\"http://127.0.0.1:4041/api/tunnels\")\njsonBody=json.loads(r.text)\nmsg[\"payload\"]=jsonBody[\"tunnels\"][0][\"public_url\"]\npublic_url = jsonBody[\"tunnels\"][0][\"public_url\"]\npublic_url = \"abs\"\nuri = url_WebApp+\"/NodeRed2/?link=\"+public_url\nr = requests.get(uri)\n\n\n\n","outputs":1,"x":600,"y":160,"wires":[[]]},{"id":"d98acdce.5736b","type":"counter","z":"69de7189.7faeb","name":"counter","init":"0","step":1,"lower":"","upper":"","mode":"increment","outputs":"1","x":880,"y":1220,"wires":[["6aeb505.5e66ab"]]},{"id":"870f1140.2a08f","type":"debug","z":"69de7189.7faeb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":280,"wires":[]},{"id":"d406aa5b.fb8638","type":"http request","z":"69de7189.7faeb","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://2da351d608bc.ngrok.io/NodeRed3?link=http://localhost:1881/ui","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":180,"wires":[["870f1140.2a08f"]]},{"id":"c6628db5.66f06","type":"ui_chart","z":"69de7189.7faeb","name":"","group":"93cb335c.0c618","order":2,"width":"12","height":"4","label":"Temperature [°C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1210,"y":1500,"wires":[[]]},{"id":"5e058bc6.c54cc4","type":"inject","z":"69de7189.7faeb","name":"Time Stamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Temp","payload":"","payloadType":"date","x":150,"y":1660,"wires":[["eddde6c0.921758","9168ebe8.bd2458","ab71edb4.b2b88","cb4f3766.7b8888","ba582e33.e0449"]]},{"id":"c784b072.22f0f","type":"ui_chart","z":"69de7189.7faeb","name":"","group":"93cb335c.0c618","order":2,"width":"12","height":"4","label":"Acceleration [m/s^2]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loading...","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1220,"y":1600,"wires":[[]]},{"id":"12cce317.885bbd","type":"ui_gauge","z":"69de7189.7faeb","name":"","group":"93cb335c.0c618","order":0,"width":"6","height":"4","gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"35","max":"39","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1190,"y":1540,"wires":[]},{"id":"bd2afad1.085b28","type":"ui_gauge","z":"69de7189.7faeb","name":"","group":"93cb335c.0c618","order":0,"width":"6","height":"4","gtype":"gage","title":"Acceleration","label":"units","format":"{{value}}","min":0,"max":"1.2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1190,"y":1640,"wires":[]},{"id":"ea19c08c.15036","type":"ui_gauge","z":"69de7189.7faeb","name":"","group":"93cb335c.0c618","order":0,"width":"6","height":"4","gtype":"donut","title":"Saturation","label":"%","format":"{{value}}","min":"60","max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"96","seg2":"97","x":1190,"y":1740,"wires":[]},{"id":"667f9a63.329794","type":"ui_chart","z":"69de7189.7faeb","name":"","group":"93cb335c.0c618","order":2,"width":"12","height":"4","label":"Saturation [%]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1200,"y":1700,"wires":[[]]},{"id":"b0f55a79.759818","type":"ui_gauge","z":"69de7189.7faeb","name":"","group":"93cb335c.0c618","order":0,"width":"6","height":"4","gtype":"gage","title":"Health Status","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1200,"y":1840,"wires":[]},{"id":"2a3d1a9.5051de6","type":"ui_chart","z":"69de7189.7faeb","name":"","group":"93cb335c.0c618","order":2,"width":"12","height":"4","label":"Health Status","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1200,"y":1800,"wires":[[]]},{"id":"b31d6a02.e45488","type":"ui_worldmap","z":"69de7189.7faeb","group":"70af4fde.89d85","order":1,"width":"12","height":"10","name":"","lat":"","lon":"","zoom":"15","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","allowFileDrop":"true","path":"/worldmap","x":1180,"y":1960,"wires":[]},{"id":"8213da67.d85e98","type":"python3-function","z":"69de7189.7faeb","name":"","func":"lat = msg[\"payload\"][\"v_lat\"]\nlon = msg[\"payload\"][\"v_lon\"]\ntime = msg[\"payload\"][\"v_time\"]\n\n\nmsg[\"payload\"] = {\n    \"name\": \"BOX 002\",\n    \"lat\": lat,\n    \"lon\": lon,\n    \"icon\": \"fa-medkit\", #https://fontawesome.com/v4.7.0/icons/\n    \"iconColor\": \"blue\",\n    \"popped\": True,\n    \"Content\":\"liver\",\n    \"Time for the arrival\": time,\n\n}\nreturn msg","outputs":1,"x":750,"y":1960,"wires":[["b31d6a02.e45488","b47780c1.98aca"]]},{"id":"56c2a2d0.41516c","type":"ui_text","z":"69de7189.7faeb","group":"70af4fde.89d85","order":2,"width":"7","height":"1","name":"Stopwatch","label":"Time elapsed [min]:","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":1900,"wires":[]},{"id":"b47780c1.98aca","type":"python3-function","z":"69de7189.7faeb","name":"","func":"msg[\"payload\"] = msg[\"payload\"][\"Time for the arrival\"]\nreturn msg","outputs":1,"x":1010,"y":2040,"wires":[["72a52520.ae478c"]]},{"id":"72a52520.ae478c","type":"ui_text","z":"69de7189.7faeb","group":"70af4fde.89d85","order":2,"width":"7","height":"1","name":"Time for arrival","label":"Estimated time for the arrival [min]:","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":2040,"wires":[]},{"id":"6c81e355.39c99c","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = round(float(diz[\"feeds\"][0][\"field1\"]),1)\n\nreturn msg","outputs":1,"x":750,"y":1520,"wires":[["c6628db5.66f06","12cce317.885bbd"]]},{"id":"e163b9fe.ad7d48","type":"function","z":"69de7189.7faeb","name":"","func":"if (msg.count === 1) {\n    var time = Math.floor(Date.now() / 1000);\n    flow.set(\"data\",time);\n    msg.payload = 0\n    \n}\nelse { msg.payload = Math.floor(Date.now() / 1000) - flow.get([\"data\"])\n    \n}\nmsg.payload = Math.round(msg.payload / 60);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":1900,"wires":[["56c2a2d0.41516c"]]},{"id":"eddde6c0.921758","type":"function","z":"69de7189.7faeb","name":"","func":"msg.payload = flow.get(\"channelID_temperature_002\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1520,"wires":[["6c81e355.39c99c"]]},{"id":"88927908.cfae28","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = round(float(diz[\"feeds\"][0][\"field1\"]),2)\n\nreturn msg","outputs":1,"x":750,"y":1620,"wires":[["c784b072.22f0f","bd2afad1.085b28"]]},{"id":"9168ebe8.bd2458","type":"function","z":"69de7189.7faeb","name":"","func":"msg.payload = flow.get(\"channelID_acceleration_002\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1620,"wires":[["88927908.cfae28"]]},{"id":"e0362bf3.b93568","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = round(float(diz[\"feeds\"][0][\"field1\"]),0)\n\nreturn msg","outputs":1,"x":750,"y":1720,"wires":[["667f9a63.329794","ea19c08c.15036"]]},{"id":"ab71edb4.b2b88","type":"function","z":"69de7189.7faeb","name":"","func":"msg.payload = flow.get(\"channelID_oxygen_002\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1720,"wires":[["e0362bf3.b93568"]]},{"id":"d31d8d30.e1c06","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nHS = round(float(diz[\"feeds\"][0][\"field1\"]),0)\nHS = 10-HS/10\nmsg[\"payload\"] = HS\n\nreturn msg","outputs":1,"x":750,"y":1820,"wires":[["2a3d1a9.5051de6","b0f55a79.759818","2c9055fc.f7982a"]]},{"id":"cb4f3766.7b8888","type":"function","z":"69de7189.7faeb","name":"","func":"msg.payload = flow.get(\"channelID_healthcontrol_002\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1820,"wires":[["d31d8d30.e1c06"]]},{"id":"68da06e1.a88748","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\nimport ast\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = ast.literal_eval(diz[\"feeds\"][0][\"field1\"])\n\nreturn msg","outputs":1,"x":550,"y":1960,"wires":[["8213da67.d85e98"]]},{"id":"ba582e33.e0449","type":"function","z":"69de7189.7faeb","name":"","func":"msg.payload = flow.get(\"channelID_gps_002\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1960,"wires":[["68da06e1.a88748"]]},{"id":"2c9055fc.f7982a","type":"counter","z":"69de7189.7faeb","name":"counter","init":"0","step":1,"lower":"","upper":"","mode":"increment","outputs":"1","x":900,"y":1900,"wires":[["e163b9fe.ad7d48"]]},{"id":"4499bf7f.5d104","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"002100\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":920,"y":420,"wires":[["a472b50c.d96698"]]},{"id":"a472b50c.d96698","type":"function","z":"69de7189.7faeb","name":"","func":"var channelID_temperature = msg.payload;\nflow.set(\"channelID_temperature_002\",channelID_temperature);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":420,"wires":[[]]},{"id":"bc3c5eb9.f20cc","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"002200\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":920,"y":480,"wires":[["853a4b3b.641eb8"]]},{"id":"853a4b3b.641eb8","type":"function","z":"69de7189.7faeb","name":"","func":"var channelID_acceleration = msg.payload;\nflow.set(\"channelID_acceleration_002\",channelID_acceleration);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":480,"wires":[[]]},{"id":"33c68016.4d4be","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"002400\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":920,"y":540,"wires":[["fa91f298.e0339"]]},{"id":"fa91f298.e0339","type":"function","z":"69de7189.7faeb","name":"","func":"var channelID_oxygen = msg.payload;\nflow.set(\"channelID_oxygen_002\",channelID_oxygen);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":540,"wires":[[]]},{"id":"1ab785a8.a66fea","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"002600\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":920,"y":600,"wires":[["c4ed4c49.d1a97"]]},{"id":"c4ed4c49.d1a97","type":"function","z":"69de7189.7faeb","name":"","func":"var channelID_gps = msg.payload;\nflow.set(\"channelID_gps_002\",channelID_gps);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":600,"wires":[[]]},{"id":"4a642b29.32b784","type":"python3-function","z":"69de7189.7faeb","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaleServizio\"][\"canaleServizio_channel\"][\"002Health_Status\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":920,"y":660,"wires":[["871cee13.a47f5"]]},{"id":"871cee13.a47f5","type":"function","z":"69de7189.7faeb","name":"","func":"var channelID_healthcontrol = msg.payload;\nflow.set(\"channelID_healthcontrol_002\",channelID_healthcontrol);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":660,"wires":[[]]},{"id":"e37f34ea.4e5258","type":"ui_group","name":"Parameters","tab":"c96d6dfc.80d09","order":2,"disp":true,"width":"18","collapse":false},{"id":"27caaf53.e0d13","type":"ui_group","name":"Position & Timing","tab":"c96d6dfc.80d09","order":2,"disp":true,"width":"12","collapse":false},{"id":"93cb335c.0c618","type":"ui_group","name":"Parameters","tab":"c87973be.80d53","order":1,"disp":true,"width":"18","collapse":false},{"id":"70af4fde.89d85","type":"ui_group","name":"Position & Timing","tab":"c87973be.80d53","order":2,"disp":true,"width":"12","collapse":false},{"id":"c96d6dfc.80d09","type":"ui_tab","name":"BOX001","icon":"dashboard","disabled":false,"hidden":false},{"id":"c87973be.80d53","type":"ui_tab","name":"BOX002","icon":"dashboard","disabled":false,"hidden":false}]