Flow Node-Red/Mobile.json
[{"id":"270b4c9c.17dd54","type":"tab","label":"Smartphone","disabled":false,"info":""},{"id":"70fcef64.97bd","type":"ui_chart","z":"270b4c9c.17dd54","name":"","group":"f8860a0.ccd5df8","order":2,"width":"4","height":"3","label":"Temperature [°C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1190,"y":440,"wires":[[]]},{"id":"e0847b6f.076268","type":"ui_chart","z":"270b4c9c.17dd54","name":"","group":"f8860a0.ccd5df8","order":2,"width":"4","height":"3","label":"Acceleration [m/s^2]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loading...","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1200,"y":540,"wires":[[]]},{"id":"316f3f42.fe575","type":"ui_gauge","z":"270b4c9c.17dd54","name":"","group":"f8860a0.ccd5df8","order":0,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"35","max":"39","colors":["#ca3338","#00b500","#ca3838"],"seg1":"","seg2":"","x":1170,"y":480,"wires":[]},{"id":"f2a92e46.915bf","type":"ui_gauge","z":"270b4c9c.17dd54","name":"","group":"f8860a0.ccd5df8","order":0,"width":"3","height":"3","gtype":"gage","title":"Acceleration","label":"units","format":"{{value}}","min":0,"max":"1.2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1170,"y":580,"wires":[]},{"id":"c2894202.dbdc7","type":"ui_chart","z":"270b4c9c.17dd54","name":"","group":"f8860a0.ccd5df8","order":2,"width":"4","height":"3","label":"Saturation [%]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1180,"y":640,"wires":[[]]},{"id":"a5e710d3.47111","type":"ui_worldmap","z":"270b4c9c.17dd54","group":"a77cd0e9.c1289","order":1,"width":"7","height":"5","name":"","lat":"","lon":"","zoom":"15","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"true","allowFileDrop":"true","path":"/worldmap","x":1160,"y":900,"wires":[]},{"id":"6a723854.2bbaf8","type":"ui_text","z":"270b4c9c.17dd54","group":"a77cd0e9.c1289","order":2,"width":"7","height":"1","name":"Stopwatch","label":"Time elapsed:","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":840,"wires":[]},{"id":"8d4b3686.2fa868","type":"ui_text","z":"270b4c9c.17dd54","group":"a77cd0e9.c1289","order":2,"width":"7","height":"1","name":"Time for arrival","label":"Estimated time for the arrival:","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":980,"wires":[]},{"id":"a69dae83.a30a2","type":"ui_gauge","z":"270b4c9c.17dd54","name":"","group":"f8860a0.ccd5df8","order":0,"width":"3","height":"3","gtype":"donut","title":"Saturation","label":"%","format":"{{value}}","min":"94","max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"96","seg2":"97","x":1170,"y":680,"wires":[]},{"id":"bc4ae32f.7c92f","type":"ui_chart","z":"270b4c9c.17dd54","name":"","group":"f8860a0.ccd5df8","order":2,"width":"4","height":"3","label":"Health Status","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1180,"y":740,"wires":[[]]},{"id":"c4e25bbc.a55448","type":"ui_gauge","z":"270b4c9c.17dd54","name":"","group":"f8860a0.ccd5df8","order":0,"width":"3","height":"3","gtype":"gage","title":"Health Status","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":780,"wires":[]},{"id":"a2b807b4.7e4e78","type":"inject","z":"270b4c9c.17dd54","name":"Time Stamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":0.1,"topic":"Temp","payload":"","payloadType":"date","x":140,"y":600,"wires":[["2413a361.14904c","d91b151e.cf7358","a5922345.8053e","2d8a3656.c4e02a","28052b40.429044"]]},{"id":"2af7b49a.30bf6c","type":"python3-function","z":"270b4c9c.17dd54","name":"","func":"lat = msg[\"payload\"][\"v_lat\"]\nlon = msg[\"payload\"][\"v_lon\"]\ntime = msg[\"payload\"][\"v_time\"]\n\n\nmsg[\"payload\"] = {\n    \"name\": \"BOX 001\",\n    \"lat\": lat,\n    \"lon\": lon,\n    \"icon\": \"fa-medkit\", #https://fontawesome.com/v4.7.0/icons/\n    \"iconColor\": \"blue\",\n    \"popped\": True,\n    \"Content\":\"liver\",\n    \"Time for the arrival\": time,\n\n}\nreturn msg","outputs":1,"x":730,"y":900,"wires":[["2d1f994b.73bcf6","a5e710d3.47111"]]},{"id":"2d1f994b.73bcf6","type":"python3-function","z":"270b4c9c.17dd54","name":"","func":"msg[\"payload\"] = msg[\"payload\"][\"Time for the arrival\"]\nreturn msg","outputs":1,"x":990,"y":980,"wires":[["8d4b3686.2fa868"]]},{"id":"ff6e23f1.0cad9","type":"python3-function","z":"270b4c9c.17dd54","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = round(float(diz[\"feeds\"][0][\"field1\"]),1)\n\nreturn msg","outputs":1,"x":730,"y":460,"wires":[["70fcef64.97bd","316f3f42.fe575"]]},{"id":"6b619b72.b52ff4","type":"function","z":"270b4c9c.17dd54","name":"","func":"if (msg.count === 1) {\n    var time = Math.floor(Date.now() / 1000);\n    flow.set(\"data\",time);\n    msg.payload = 0\n    \n}\nelse { msg.payload = Math.floor(Date.now() / 1000) - flow.get([\"data\"])\n    \n}\nmsg.payload = Math.round(msg.payload / 60);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":840,"wires":[["6a723854.2bbaf8"]]},{"id":"2413a361.14904c","type":"function","z":"270b4c9c.17dd54","name":"","func":"msg.payload = flow.get(\"channelID_temperature\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":460,"wires":[["ff6e23f1.0cad9"]]},{"id":"725cda7a.eb2ed4","type":"python3-function","z":"270b4c9c.17dd54","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = round(float(diz[\"feeds\"][0][\"field1\"]),2)\n\nreturn msg","outputs":1,"x":730,"y":560,"wires":[["e0847b6f.076268","f2a92e46.915bf"]]},{"id":"d91b151e.cf7358","type":"function","z":"270b4c9c.17dd54","name":"","func":"msg.payload = flow.get(\"channelID_acceleration\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":560,"wires":[["725cda7a.eb2ed4"]]},{"id":"de1bc6ea.da9c68","type":"python3-function","z":"270b4c9c.17dd54","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = round(float(diz[\"feeds\"][0][\"field1\"]),0)\n\nreturn msg","outputs":1,"x":730,"y":660,"wires":[["c2894202.dbdc7","a69dae83.a30a2"]]},{"id":"a5922345.8053e","type":"function","z":"270b4c9c.17dd54","name":"","func":"msg.payload = flow.get(\"channelID_oxygen\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":660,"wires":[["de1bc6ea.da9c68"]]},{"id":"a2e123b3.2f16c","type":"python3-function","z":"270b4c9c.17dd54","name":"","func":"import requests\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nHS = round(float(diz[\"feeds\"][0][\"field1\"]),0)\nHS = 10-HS/10\nmsg[\"payload\"] = HS\n\nreturn msg","outputs":1,"x":730,"y":760,"wires":[["3a0ff754.4ad248","bc4ae32f.7c92f","c4e25bbc.a55448"]]},{"id":"2d8a3656.c4e02a","type":"function","z":"270b4c9c.17dd54","name":"","func":"msg.payload = flow.get(\"channelID_healthcontrol\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":760,"wires":[["a2e123b3.2f16c"]]},{"id":"9a3a0c2b.0882d","type":"python3-function","z":"270b4c9c.17dd54","name":"","func":"import requests\nimport ast\n\n\nchannelID = msg[\"payload\"]\nr = requests.get(\"https://api.thingspeak.com/channels/\"+str(channelID)+\"/fields/1.json?results=1\")\ndiz = json.loads(r.content)\nmsg[\"payload\"] = ast.literal_eval(diz[\"feeds\"][0][\"field1\"])\n\nreturn msg","outputs":1,"x":530,"y":900,"wires":[["2af7b49a.30bf6c"]]},{"id":"28052b40.429044","type":"function","z":"270b4c9c.17dd54","name":"","func":"msg.payload = flow.get(\"channelID_gps\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":900,"wires":[["9a3a0c2b.0882d"]]},{"id":"69d9cfb8.63899","type":"http request","z":"270b4c9c.17dd54","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1341228/fields/1.json?api_key=74BPJAXGQDBJJPOS&results=1","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":60,"wires":[["8b75d0e9.ef7c9"]]},{"id":"961119b0.05aa88","type":"inject","z":"270b4c9c.17dd54","name":"Richiesta catalog","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7200","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["69d9cfb8.63899"]]},{"id":"8b75d0e9.ef7c9","type":"json","z":"270b4c9c.17dd54","name":"","property":"payload","action":"","pretty":false,"x":470,"y":60,"wires":[["42cc2cc0.0f0aa4"]]},{"id":"42cc2cc0.0f0aa4","type":"python3-function","z":"270b4c9c.17dd54","name":"","func":"import requests\nmsg[\"payload\"] = msg[\"payload\"]['feeds'][0]['field1']\nreturn msg","outputs":1,"x":630,"y":60,"wires":[["2913a9c2.2b4f06","62e0f538.3d515c","f33beb52.2a10d8","ce54f83e.5bdb28","9ebf2586.a46828"]]},{"id":"2913a9c2.2b4f06","type":"python3-function","z":"270b4c9c.17dd54","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"001100\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":60,"wires":[["d0233978.28f098"]]},{"id":"d0233978.28f098","type":"function","z":"270b4c9c.17dd54","name":"","func":"var channelID_temperature = msg.payload;\nflow.set(\"channelID_temperature\",channelID_temperature);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":60,"wires":[[]]},{"id":"62e0f538.3d515c","type":"python3-function","z":"270b4c9c.17dd54","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"001200\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":120,"wires":[["38d59514.f32aba"]]},{"id":"38d59514.f32aba","type":"function","z":"270b4c9c.17dd54","name":"","func":"var channelID_acceleration = msg.payload;\nflow.set(\"channelID_acceleration\",channelID_acceleration);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":120,"wires":[[]]},{"id":"f33beb52.2a10d8","type":"python3-function","z":"270b4c9c.17dd54","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"001400\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":180,"wires":[["227a63d4.06764c"]]},{"id":"227a63d4.06764c","type":"function","z":"270b4c9c.17dd54","name":"","func":"var channelID_oxygen = msg.payload;\nflow.set(\"channelID_oxygen\",channelID_oxygen);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":180,"wires":[[]]},{"id":"ce54f83e.5bdb28","type":"python3-function","z":"270b4c9c.17dd54","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaliSensori\"][\"canaliSensori_channel\"][\"001600\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":240,"wires":[["93ca6100.355"]]},{"id":"93ca6100.355","type":"function","z":"270b4c9c.17dd54","name":"","func":"var channelID_gps = msg.payload;\nflow.set(\"channelID_gps\",channelID_gps);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":240,"wires":[[]]},{"id":"9ebf2586.a46828","type":"python3-function","z":"270b4c9c.17dd54","name":"","func":"import requests\n\nuri_catalog = msg[\"payload\"]\n\nuri_info = str(uri_catalog) +\"/Get_Info\"\n\nr = requests.get(uri_info) \nsetting = json.loads(r.content)\nchannelID = setting[\"canaleServizio\"][\"canaleServizio_channel\"][\"001Health_Status\"]\nmsg[\"payload\"] = channelID\nreturn msg","outputs":1,"x":910,"y":300,"wires":[["7ac340ef.f142d"]]},{"id":"7ac340ef.f142d","type":"function","z":"270b4c9c.17dd54","name":"","func":"var channelID_healthcontrol = msg.payload;\nflow.set(\"channelID_healthcontrol\",channelID_healthcontrol);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":300,"wires":[[]]},{"id":"2f3abd97.5e1af2","type":"ui_button","z":"270b4c9c.17dd54","name":"","group":"cebdcbde.080a08","order":1,"width":"7","height":"1","passthru":false,"label":"Telegram BOT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TelegramBot","payloadType":"str","topic":"","topicType":"str","x":820,"y":380,"wires":[["53f1400c.3a484"]]},{"id":"790cca5a.712ed4","type":"ui_template","z":"270b4c9c.17dd54","group":"cebdcbde.080a08","name":"window redirect","order":3,"width":0,"height":0,"format":"<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"TelegramBot\") {\n          window.location.href = \"https://t.me/smartorgandelivery_bot\";\n        } \n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1180,"y":380,"wires":[[]]},{"id":"53f1400c.3a484","type":"trigger","z":"270b4c9c.17dd54","name":"reset msg","op1":"","op2":"empty","op1type":"pay","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1000,"y":380,"wires":[["790cca5a.712ed4"]]},{"id":"37c2783b.480b88","type":"inject","z":"270b4c9c.17dd54","name":"Public Url to WebApp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7200","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":160,"wires":[["a40fb780.d56b88"]]},{"id":"a40fb780.d56b88","type":"python3-function","z":"270b4c9c.17dd54","name":"","func":"import requests\n\nurl_WebApp = \"https://smartorgandelivery.ngrok.io\"  #noto a priori\n\nr = requests.get(\"http://127.0.0.1:4041/api/tunnels\")\njsonBody=json.loads(r.text)\nmsg[\"payload\"]=jsonBody[\"tunnels\"][0][\"public_url\"]\npublic_url = jsonBody[\"tunnels\"][0][\"public_url\"]\n\nuri = url_WebApp+\"/NodeRed3/001/?link=\"+public_url\nr = requests.get(uri)\n\n\n","outputs":1,"x":400,"y":160,"wires":[[]]},{"id":"3a0ff754.4ad248","type":"counter","z":"270b4c9c.17dd54","name":"counter","init":"0","step":1,"lower":"","upper":"","mode":"increment","outputs":"1","x":880,"y":840,"wires":[["6b619b72.b52ff4"]]},{"id":"f8860a0.ccd5df8","type":"ui_group","name":"Parameters Trend","tab":"d5f6415d.6ca","order":1,"disp":true,"width":"7","collapse":false},{"id":"a77cd0e9.c1289","type":"ui_group","name":"Position & Timing","tab":"d5f6415d.6ca","order":2,"disp":true,"width":"7","collapse":false},{"id":"cebdcbde.080a08","type":"ui_group","name":"Telegram","tab":"d5f6415d.6ca","order":3,"disp":true,"width":"7","collapse":false},{"id":"d5f6415d.6ca","type":"ui_tab","name":"BOX001","icon":"dashboard","disabled":false,"hidden":false}]